:root{
     /*========== Colors ==========*/
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-GrayishBlue: hsl(220, 16%, 96%);
    --Very-LightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    --body-font: 'Public Sans', sans-serif;
}

/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
html{
    scroll-behavior: smooth;
    font-family: var(--body-font);
  }
  
body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }

  button{
    cursor: pointer;
    border: none;
    outline: none;
  }

ul{
    list-style: none;
  }
  
a{
    text-decoration: none;
  }
  
img{
    width: 100%;
    height: auto;
  }
section{
  height: 100%;
  padding-bottom: 3rem;
}


/*=============== HEADER ===============*/
header{
    width: 100%;
    position: fixed;
    background-color: var(--White);
    top: 0;
    left: 0;
    z-index: 3;
}
/*=============== NAVBAR ===============*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 10px 15px 10px 15px;
}

.logo{
  display: inline-flex;
  align-items: center;
}

.nav__menu{
  position: fixed;
  display: none;
  left: 2rem;
  top: 3.5rem;
  padding: 2rem;
  flex-direction: column;
  background-color: #fff;
  width: 85%;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  box-shadow: -7px 78px 100px -9px hsla(0, 0%, 11%, 0.85);
}

.nav-cta{
  display: none;
}

.nav__close{
  display: none;
}

.nav-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-link{
  font-size: 20px;
  color: var(--Dark-Blue);
  font-family: var(--body-font);
}

.nav__btn{
  display: inline-flex;
  font-size: 1.5rem;
  cursor: pointer;
}

/*=============== HOME ===============*/
.hero__bg{
    position: absolute;
    width: 100%;
    top: 30px;
}
.hero__img{
    position: relative;
    top: -60px;
}

.hero__text{
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero__text h1{
    font-size: 45px;
    font-weight: 400;
    color: var(--Dark-Blue);
}

.hero__text p{
    color: var(--Grayish-Blue);
}

.hero__btn{
  width: 12rem;
  margin-top: 2rem;
  font-weight: 700;
  border-radius: 2rem;
  padding: 1rem ;
  color: var(--White);
  background: linear-gradient(90deg, rgba(50,250,48,1) 0%, rgba(92,227,255,1) 61%);
}
/*=============== ABOUT ===============*/
.about{
  background-color:var(--Very-LightGray);
  padding: 3rem;
}

.about__content{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  margin-top: 5rem;
}

.about__container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__img{
  width: 20%;
}

.about__title{
  text-align: center;
}

.about__title h1{
  font-weight: 300;
  font-size: 35px;
  color: var(--Dark-Blue);
}

.about__title p{
  color: var(--Grayish-Blue);
  font-size: 15px;
  line-height: 20px;
  margin-top: 1rem;
}

.about__text h1{
  color: var(--Dark-Blue);
  font-weight: 300;
  margin-bottom: 1rem;
}

.about__text p{
  color: var(--Grayish-Blue);
}

/*=============== BLOG ===============*/
.blog{
  padding: 2rem;
}

.blog__container{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.figure{
  object-fit: cover;
}

.blog__articule{
  border-radius: 2rem;
}

.blog-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  font-family: var(--body-font);
}

.blog-text h5,p {
  color: var(--Grayish-Blue);
  font-weight: 300;
}

.blog-text h1{
  color: var(--Dark-Blue);
  font-weight: 300;
  font-size: 25px;
}

/*=============== FOOTER ===============*/
footer{
  height: 50vh;
  text-align: center;
  background-color: var(--Dark-Blue);
  padding: 4rem;
}

.footer__container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo__footer{
  width: 40%;
  color
}

.footer__icon{
  display: flex;
  gap: 1rem;
  width: 5%;
}

.footer__text a {
  color: var(--Light-GrayishBlue);
  font-weight: 300;
}

.footer__text li{
  margin-top: 1rem;
}

.footer__btn{
  margin-top: 2rem;
  width: 12rem;
  margin-top: 2rem;
  font-weight: 700;
  border-radius: 2rem;
  padding: 1rem ;
  color: var(--White);
  background: linear-gradient(90deg, rgba(50,250,48,1) 0%, rgba(92,227,255,1) 61%);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 992px) {
  header{
    height: 4rem;
  }

  .nav__menu{
    display: flex;
    width: auto;
    box-shadow: 0;
    top: 0;
    position: relative;
    background-color: none;
    padding: 0;
  }

  .nav-cta{
    display: inline-flex;
  }

  .nav__btn,
  .nav__close {
    display: none;
  }

  .nav-list{
    display: flex;
    flex-direction: row;
  }

  nav{
    display: flex;
  }
}